/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    position: relative;
}

.buttons {
    position: absolute;
    top: 2em;
    right: 0;
}

.buttons li {
    display: inline-block;
    background-color: aquamarine;
}

#red-screen {
    height: 100vh;
    background-color: red;
}


.shoes-img {

}